<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ba.sum.fsre.toplawv2">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMath">
        <activity
            android:name=".ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".LocationPickerActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" /> <!-- Metadata for Google Maps API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="hvalasvima" /> <!-- Replace YOUR_API_KEY_HERE with your actual API Key -->
        <!-- Messaging Activity -->
        <activity
            android:name=".MessagesActivity"
            android:exported="false" /> <!-- PDF Viewer Activity -->
        <activity
            android:name=".PdfViewerActivity"
            android:exported="false" /> <!-- Chat Activity -->
        <activity
            android:name=".ChatActivity"
            android:exported="true" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Cases Activity -->
        <activity
            android:name=".CasesActivity"
            android:exported="true" />
        <activity
            android:name=".DetailsActivity"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity"
            android:exported="true" />

        <activity
            android:name=".MeetingDetailActivity"
            android:exported="true" />

        <activity
            android:name=".CaseSharingActivity"
            android:exported="true" />
        <service
            android:name=".services.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>